<h1>Application for <%= @application.name %></h1>

<p>Addres: <%= @application.address %></p>
<p>City: <%= @application.city %></p>
<p>State: <%= @application.state %></p>
<p>Zipcode: <%= @application.zipcode %></p>
<p>Status: <%= @application.status %></p>
<p>Pets:</p>
<ul>
  <% @application.pets.each do |pet| %>
    <li><%= link_to pet.name, "/pets/#{pet.id}", class: 'link-dark' %></li>
  <% end%>
</ul>

<% if @application.submittable? %>
  <%= render partial: 'submit_form', locals: { application: @application } %>
<% end %>

<% if @application.not_submitted? %>
  <%= render partial: 'pet_search_form', locals: { application: @application } %>

  <% if @pets %>
    <%= render partial: 'matching_pets', locals: { pets: @pets, application: @application } %>
  <%end %>
<% end %>
