<h1>Admin Application Page</h1>

<p>Application #<%= @application.id %></p>
<p>Applicant Name: <%= @application.name %></p>
<p>Application Status: <%= @application.status %></p>

<p><b>Desired Pets:</b></p>
<% @application.pets.each do |pet| %>
  <div id="<%= pet.name %>-status">
    <p><%= pet.name %></p>
    <% if  @application.app_pet(pet).approved? %>
      <p>Approved!</p>
    <% elsif @application.app_pet(pet).rejected? %>
      <p>Rejected!</p>
    <% elsif !@application.rejected? %>
      <%= render partial: 'approval_buttons', locals: { pet: pet, application: @application } %>
    <% end %>
  </div>
<% end %>
