<br/>
<h3>Get a random dog picture!</h3>

<%= form_with url: dog_pictures_path, method: :get do |f| %>
  <%= f.label 'Search by breed:' %>
  <%= f.text_field :breed, required: true %>
  <%= f.submit 'Search Pictures' %>
<% end %>
<br/>

<%= form_with url: dog_pictures_path, method: :get do |f| %>
  <%= f.label 'Select breed:' %>
  <%= f.select :breed, options_for_select(@all_breeds) %>
  <%= f.submit 'Search Pictures' %>
<% end %>
<br/>

<%= button_to "New Picture", dog_pictures_path, method: :get, params: { breed: params[:breed]} %>
<br/>

<% if @picture %>
  <%= image_tag "#{@picture}", size: "500x500" %>
<% end %>
