<br/>
<h1>Get a random dog picture!</h1>

<%= form_with url: dog_pictures_path, method: :get do |f| %>
  <%= f.label 'Search by breed:' %>
  <%= f.text_field :breed, required: true %>
  <%= f.submit 'Search Pictures' %>
<% end %>
<br/>

<%= form_with url: dog_pictures_path, method: :get do |f| %>
  <%= f.label 'Select breed:' %>
  <%= f.select :breed, options_for_select(@all_breeds) %>
  <%= f.submit 'Search Pictures' %>
<% end %>
<br/>

<%= button_to "New Picture", dog_pictures_path, method: :get, params: { breed: params[:breed]} %>
<br/>
<h4>Like Shibes? This button is for you!</h4>
<%= button_to "Shibe!!", dog_pictures_path, method: :get, params: { breed: 'shibe' } %>
<br/>

<%= image_tag "#{@picture}", height: '50%', width: '50%' if @picture %>
<br/>
<br/>
<p>Pictures from <%= link_to 'Dog CEO', 'https://dog.ceo/' %></p>
<p>Shibe pictures from <%= link_to 'Shibe Online', 'http://shibe.online/' %></p>
